<h1>Hello world</h1>

<div>
  <form id="formulary">
    <label for="email">Email:</label>
    <br />
    <input id="email" type="email" name="email">

    <br />

    <label for="files">Image:</label>
    <br />
    <input id="file" type="file" name="file" accept="image/*">

    <br />

    <input type="submit" value="Send">

    <br />

  </form>

  <!-- Server Response -->
  <pre id="output" name="output"></pre>
</div>
